body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
 
   
}
.header{
    background: rgba(229, 84, 115, 0.10);
    height: 850px;
    
    margin: 0px;
    display: flex;
}
.header-left{
    padding: 197px 0px 0px 200px ;
}
.header-title{
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.primary-button{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;

}
.header-image{
    width: 635px;
    height: 800px;
    padding: 50px 80px 0px 100px ;
}
section{
    text-align: center;
    padding-top: 128px;

}
.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 550px 0 550px;

}

.featured-section{
    display: flex;
    padding: 48px 200px;
    gap: 24px;
}

.featured-first-part{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}
.featured-second-part{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-third-part{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.featured-images-1{
    padding: 110px 78px 0 76px;
}
.featured-images-2{
    padding: 117px 47px 51px 47px;
}
.featured-images-3{
    padding: 67px 75px 0 75px;
}
.featured-caption{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 32px;
    padding-bottom: 128px;
}
.hot-deal{
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    
}

.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding: 200px 0 0 350px;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 0 300px;
}
.hot-deal-span{
    color: #E55473;
}
.hot-deal-image{
    width: 318px;
    height: 420px;
    padding: 100px 300px 100px 150px;
}
.hot-deal-button{
    padding: 20px 0 162px 320px;
    
}

.instagram-post{
    display: flex;
    gap: 24px;
    padding: 48px 200px;
}
.get-deal{
    width: 1440px;
    height: 449px;
    padding: 64px 200px;
    
}
.get-deal-box{
    width: 1440px;
    height: 449px;
    background-image: url('/images/Rectangle-9.png');
    background-repeat: no-repeat;
    background-position: 50% 50%; 
}
.get-deal-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 122px 500px 0 500px;
}
.get-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 550px 0 550px;
}
.get-deal-form{
    display: flex;
    padding: 20px 0 0 287px;
    gap: 16px;

}

.get-deal-input{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    
}
.get-deal-button{
    
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    
}
footer{
    height: 449px;
    background: #111010;
}
.footer-title{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}
#footer-title-span{
    color: #FFFFFF;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 550px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}